---
layout: page
title: Alumni
permalink: /alumni/
banner_photo: water-and-a-flame-cuttin-class-2011.jpg
---

<h2>Before us came...</h2>

To our beloved alumni, help us stay in touch by updating your photo and contact info with
our <a href="mailto:{{ site.data.cn.emails.gm }}">GM</a>. Also, be sure to
<a href="mailto:{{ site.data.cn.emails.gm }}?subject=Alumni%20Listserve">join the alumni listserve</a>
to receive news and updates from all generations of Class Notes.

{% for year in (1983..2012) reversed %}
  {% include alumni.html year=year %}
{% endfor %}
