<div class="alumni-year year-{{ include.year }}">
  <h2>Class of {{ include.year }}</h2>
  <table>
    <tbody>
      <tr>
        <td>
          <table class="alumniEmail" border="0" cellpadding="0" cellspacing="0" summary="">
            <tbody>
              {% for alumn in site.alumni %}
                {% if alumn.year == include.year %}
                <tr>
                  <td>
                    {{ alumn.name }}
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </td>
        <td>
          <table class="alumniPics" border="0" cellpadding="0" cellspacing="0" summary="">
            <tbody>
              {% for alumn in site.alumni %}
                {% if alumn.year == include.year %}
                  <tr>
                    <td>
                      {% if alumn.picture %}
                        <img src="/images/alumni/{{ include.year }}/{{ alumn.picture }}" width="56" height="65" border="0">
                      {% else %}
                        <img src="/images/alumni/empty.gif" width="56" height="65" border="0">
                      {% endif %}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
