<div class="footer unit whole">
  <div class="unit half">
    <p>
      {{ site.name }}<br />
      {{ site.tagline }}<br />
      <a href="mailto:{{ site.email }}">
        {{ site.email }}
      </a>
    </p>
  </div>
  <div class="unit half">
    <p>
      <a href="{{ site.twitter.link }}">
        twitter.com/{{ site.twitter.name }}
      </a><br />
      <a href="{{ site.facebook.link }}">
        facebook.com/{{ site.facebook.name }}
      </a><br />
      <a href="{{ site.youtube.link }}">
        youtube.com/{{ site.youtube.name }}
      </a><br />
    </p>
  </div>
</div>
