<div class="footer">
  <div class="contact">
    <p>
      {{ site.data.cn.name }}<br />
      {{ site.data.cn.tagline }}<br />
      <a href="mailto:{{ site.data.cn.email }}">
        {{ site.data.cn.email }}
      </a>
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="{{ site.data.social.twitter.link }}">
        twitter.com/{{ site.data.social.twitter.name }}
      </a><br />
      <a href="{{ site.data.social.facebook.link }}">
        facebook.com/{{ site.data.social.facebook.name }}
      </a><br />
      <a href="{{ site.data.social.youtube.link }}">
        youtube.com/{{ site.data.social.youtube.name }}
      </a><br />
    </p>
  </div>
</div>
