<div class="header">
  <div class="left">
    {% include logo.html %}
  </div>
  <div class="right">
  {% if page.banner_photo %}
      <img src="/images/banners/{{ page.banner_photo }}" class="banner-photo" alt="banner photo">
  {% else %}
      <img src="/images/banners/2012-streetcorner-symphony-ilr-seniors-gala.jpg" class="banner-photo" alt="The Class Notes singing 'Streetcorner Symphony' by Rob Thomas at the 2012 Senior ILR Gala.">
  {% endif %}
  </div>
</div>
{% include navigation.html %}
