<nav class="navigation hide-on-mobiles">
  <ul>
    <li><a href="/" class="unit {% if page.url == '/index.html' or page.path contains '_posts' %}current{% endif %}">updates</a></li>
    <li><a href="/about-us/" class="unit {% if page.url == '/about-us/' %}current{% endif %}">about us</a></li>
    <li><a href="/discography/" class="unit {% if page.url contains '/discography/' %}current{% endif %}">discography</a></li>
    <li><a href="/repertoire/" class="unit {% if page.url contains '/repertoire/' %}current{% endif %}">repertoire</a></li>
    <li><a href="/members/" class="unit {% if page.url contains '/members/' %}current{% endif %}">members</a></li>
    <li><a href="/history/" class="unit {% if page.url contains '/history/' %}current{% endif %}">history</a></li>
    <li><a href="/auditions/" class="unit {% if page.url contains '/auditions/' %}current{% endif %}">auditions</a></li>
    <li><a href="/contact-us/" class="unit {% if page.url contains '/contact-us/' %}current{% endif %}">contact</a></li>
  </ul>
</nav>
<div class="show-on-mobiles main-nav-mobile">
  <select onchange="if (this.value) window.location.href=this.value">
    <option value="">Navigate...</option>
    <option value="/">Updates</option>
    <option value="/about-us/">About Us</option>
    <option value="/discography/">Discography</option>
    <option value="/repertoire/">Repertoire</option>
    <option value="/members/">Members</option>
    <option value="/history/">History</option>
    <option value="/auditions/">Auditions</option>
    <option value="/contact-us/">Contact Us</option>
  </select>
</div>
