<meta property="og:type" content="theclassnoteswebsite:page" >
<meta property="og:url" content="{{ site.data.cn.url }}{{ page.url }}" >
<meta property="og:title" content="{{ page.title }} / {{ site.data.cn.name }}" >
<meta property="og:site_name" content="{{ site.data.cn.name }} - {{ site.data.cn.tagline }}" >
<meta property="og:image" content="{{ site.data.cn.url }}/images/theclassnotes.png">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.cn.description }}{% endif %}" >
