/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/

@import "compass/utilities/general/clearfix";
@import "variables";

.content-container {
  @include clearfix;
  margin-top: $ColumnGutterWidth;
}

.content {
  @include right-column;
  width: 72%;
  margin-left: 2%;
}

img.hang-right {
  float: right;
  padding: 5px;
}

@import "posts";
@import "pages/home";