/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

@import "compass/utilities/general/clearfix";
@import "compass/css3/transition";
@import "variables";

.header {
  @include clearfix;

  .left {
    @include left-column;
  }
  .right {
    @include right-column;
  }

  .logo {
    font-size: 5em;
    line-height: 0.9em;
    text-align: right;
    font-weight: bold;
  }

  h2.page-title {
    float: left;
    font-weight: normal;
    margin: 0.5em 0 0 8px;
    padding: 0;
    font-size: 4em;
    line-height: 1.4em;
  }

  .banner-photo {
    width: 100%;
    max-height: 233px;
  }
}

.navigation {
  margin: 0.5em 0 0 0;
  text-transform: uppercase;
  line-height: 1em;
  font-size: 1.75em;

  a {
    font-weight: normal;
    color: $DarkGrey;
    @include single-transition(all, 0.5s, ease);

    &.current, &:hover {
      text-decoration: none;
      color: $Black;
      background-color: $Red;
    }
  }

  ul {
    @include clearfix;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      float: left;
      margin: 2px;
      display: block;

      a {
        display: block;
        float: left;
        padding: 4px;
        font-weight: lighter;
      }
    }
  }
}
