/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

@import "compass/css3/transition";
@import "variables";

.header {

  .logo {
    font-size: 5em;
    line-height: 0.9em;
    text-align: right;
    font-weight: bold;
  }

  h2.page-title {
    float: left;
    font-weight: normal;
    margin: 0.5em 0 0 8px;
    padding: 0;
    font-size: 4em;
    line-height: 1.4em;
  }

  .navigation {
    float: left;
    margin: 4.25em 0 0 0;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 1.75em;

    a {
      font-weight: lighter;
      color: $DarkGrey;
      @include single-transition(all, 0.5s, ease);

      &.current, &:hover {
        text-decoration: none;
        background-color: $Red;
        color: $Black;
      }
    }

    ul {
      float: left;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        float: left;
        margin: 2px;
        display: block;

        a.unit {
          display: block;
          padding-right: 8px;
          padding-left: 8px;
          padding-top: 8px;
          padding-bottom: 8px;
          font-weight: lighter;
        }
      }
    }
  }
}