/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

@import "compass/utilities/general/clearfix";
@import "compass/css3/transition";
@import "variables";

.header {
  @include clearfix;

  .left {
    @include left-column;
  }
  .right {
    @include right-column;
  }

  .logo {
    font-size: 5em;
    line-height: 0.9em;
    text-align: right;
    font-weight: bold;
  }

  h2.page-title {
    float: left;
    margin: 0.5em 0 0 8px;
    padding: 0;
    font-size: 4em;
    line-height: 1.4em;
  }

  .navigation {
    float: left;
    margin: 0.5em 0 0 0;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 1.75em;

    a {
      font-weight: lighter;
      color: $DarkGrey;
      @include single-transition(all, 0.5s, ease);

      &.current, &:hover {
        text-decoration: none;
        background-color: $Red;
        color: $Black;
      }
    }

    ul {
      float: left;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        float: left;
        margin: 2px;
        display: block;

        a {
          display: block;
          float: left;
          padding: 8px;
          font-weight: lighter;
        }
      }
    }
  }
}