/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

@import "variables";
@import "compass/utilities/general/clearfix";

.post-title {
  display: block;
  font-size: 1.3em;
  line-height: 1em;
}

.post-date {
  margin: 8px 0;
  color: $DarkGrey;
  font-weight: lighter;
  font-size: 0.8em;
}

.post-content {
  color: #251E20;
  @include clearfix;
}

.post {
  margin-top: 0.7em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  font-size: 1.1em;
  line-height: 1.4;
  padding: 1em;
  text-align: left;

  &:nth-child(2n+1) {
    background-color: $Beige;
  }
  &:nth-child(2n+2) {
    background-color: lighten($Beige, 3%);
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    border: none;
  }

  p:first-child {
    margin-top: 5px;
  }

  ul, ol {
    margin-left: 1.35em;
  }

  img {
    width: 100%;
  }
}
