.show-on-mobiles {
  display: none;
}

/* Responsive Stuff */
@media screen and (max-width: 568px) {
  /* Stack anything that isn’t full-width on smaller screens */
  .grid .unit {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  .unit .grid .unit {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Sometimes, you just want to be different on small screens */
  .center-on-mobiles {
    text-align: center !important;
  }
  .hide-on-mobiles {
    display: none !important;
  }
  .show-on-mobiles {
    display: block !important;
  }
  a .show-on-mobiles {
    display: inline !important;
  }

  .site {
    width: 90%;
  }

  .header {
    .left, .right { margin: 0; width: 100%; float: none }
    .navigation {
      margin: 0;
      text-align: center;
      li {
        float: none;
      }
    }
  }

  .main-nav-mobile {
    width: 100%;
    font-size: 1.4em;
    padding: 0 5%;
    select {
      width: 90%;
      margin: 0 auto;
      font-size: 1.4em;
    }
  }

  .logo {
    text-align: center;
    .show-on-mobiles {
        font-size: 0.5em;
      }
  }

  .content {
    width: 100%;
  }
}
