@import "variables";

.social {
  @include main-center;
  margin: 1.25em auto;
  text-align: right;

  a {
    color: $DarkGrey;
    margin-left: 5px;

    &:hover {
      color: $Red;
      text-decoration: none;
    }

    &:visited {
      color: $DarkGrey;
    }
  }
}
