/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import "partials/variables";
@import "partials/fonts/roboto";
@import "compass/css3/images";

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  @include background(image-url("free-texture-noearaujo.jpg"),
                      $Beige);
  font: 18px/1.5 $FontStack;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: $Red; text-decoration: none; }
a:hover   { color: $Red; text-decoration: underline; }
a:visited { color: $Red; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 60%;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

@import "partials/header";
@import "partials/sidebar";
@import "partials/content";
@import "partials/footer";
