/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import "partials/variables";
@import "partials/fonts/roboto";
@import "partials/pure";
@import "compass/css3/images";

html, body { height: 100%; }

body {
  @include background(image-url("free-texture-noearaujo.jpg"), $Beige);
  font: 18px/1.5 $FontStack;
  font-size: small;
  //font-weight: lighter;
  text-align: center;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: $Red; text-decoration: none; }
a:hover   { color: $Red; text-decoration: underline; }
a:visited { color: $Red; }


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  @include main-center;
  background-color: darken(white, 2%);
  font-size: 115%;
  text-align: justify;
  padding: 2%;
  margin: 0 auto 2em;
  line-height: 1.5em;
}

@import "partials/social";
@import "partials/header";
@import "partials/sidebar";
@import "partials/content";
@import "partials/footer";
@import "partials/pages";
@import "partials/responsify";
