<table class="alumni" border="0" cellpadding="0" cellspacing="0" summary="">
  <tbody>
    <tr>
      <td>
        <table class="alumniEmail" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                Doug Clare
              </td>
            </tr>
            <tr>
              <td>
                Mark McCarthy
              </td>
            </tr>
            <tr>
              <td>
                Karen Meara
              </td>
            </tr>
            <tr>
              <td>
                Leora Brayer Mechanic
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                Peter Nobile
              </td>
            </tr>
            <tr>
              <td>
                Ruth Hanning Roche
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="alumniPics" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                <img src="/images/alumni/empty.gif" width="56" height="65" border="0">
              </td>
              <td>
                <img src="/images/alumni/1987/mark.jpg" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/empty.gif" width="56" height="65" border="0">
              </td>
              <td>
                <img src="/images/alumni/1987/leora.jpg" width="54" height="63" border="0">
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                <img src="/images/alumni/1987/peter.jpg" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/1987/ruth.jpg" width="54" height="63" border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
