<table class="alumni" border="0" cellpadding="0" cellspacing="0" summary="">
  <tbody>
    <tr>
      <td>
        <table class="alumniEmail" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                Elaine Alpern
              </td>
            </tr>
            <tr>
              <td>
                Cindy Crowell Pe&ntilde;a
              </td>
            </tr>
            <tr>
              <td>
                Michael D'Acunto
              </td>
            </tr>
            <tr>
              <td>
                Laura Beazley Foody
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                Sean Safford
              </td>
            </tr>
            <tr>
              <td>
                Lisa Westlake
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="alumniPics" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                <img src="/images/alumni/empty.gif" width="56" height="65" border="0">
              </td>
              <td>
                <img src="/images/alumni/empty.gif" width="56" height="65" border="0">
              </td>
              <td>
                <img src="/images/alumni/empty.gif" width="56" height="65" border="0">
              </td>
              <td>
                <img src="/images/alumni/empty.gif" width="56" height="65" border="0">
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                <img src="/images/alumni/empty.gif" width="56" height="65" border="0">
              </td>
              <td>
                <img src="/images/alumni/empty.gif" width="56" height="65" border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
