<table class="alumni" border="0" cellpadding="0" cellspacing="0" summary="">
  <tbody>
    <tr>
      <td>
        <table class="alumniEmail" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                Hayley Feldman
              </td>
            </tr>
            <tr>
              <td>
                Ben Lowe
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="alumniPics" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                <img src="/images/alumni/2002/hayley.gif" width="56" height="65" border="0">
              </td>
              <td>
                <img src="/images/alumni/2002/ben.gif" width="56" height="65" border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
