<table class="alumni" border="0" cellpadding="0" cellspacing="0" summary="">
  <tbody>
    <tr>
      <td>
        <table class="alumniEmail" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                Erin Connor
              </td>
            </tr>
            <tr>
              <td>
                Francis Kim
              </td>
            </tr>
            <tr>
              <td>
                Luis Rivera
              </td>
            </tr>
            <tr>
              <td>
                Lisa Stechschulte
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                Emily Stein
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="alumniPics" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                <img src="/images/alumni/2003/erin.gif" width="56" height="65" border="0">
              </td>
              <td>
                <img src="/images/alumni/2003/francis.gif" width="56" height="65" border="0">
              </td>
              <td>
                <img src="/images/alumni/2003/luis.gif" width="56" height="65" border="0">
              </td>
              <td>
                <img src="/images/alumni/2003/lisa.gif" width="56" height="65" border="0">
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                <img src="/images/alumni/2003/emily.gif" width="56" height="65" border="0">
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
