<table class="alumni" border="0" cellpadding="0" cellspacing="0" summary="">
  <tbody>
    <tr>
      <td>
        <table class="alumniEmail" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                Eugene Chang
              </td>
            </tr>
            <tr>
              <td>
                Scott Hayes
              </td>
            </tr>
            <tr>
              <td>
                Natalie Pierro
              </td>
            </tr>
            <tr>
              <td>
                Alex Woogmaster
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="alumniPics" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                <img src="/images/alumni/2009/Eugene.gif" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2009/Scott.gif" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2009/Natalie.gif" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2009/woog.gif" width="56" height="65">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
