<table class="alumni" border="0" cellpadding="0" cellspacing="0" summary="">
  <tbody>
    <tr>
      <td>
        <table class="alumniEmail" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                Dana Post Adler
              </td>
            </tr>
            <tr>
              <td>
                Tanya Egan
              </td>
            </tr>
            <tr>
              <td>
                Larry McAfoos
              </td>
            </tr>
            <tr>
              <td>
                Stuart Piltch
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                Andy Poe
              </td>
            </tr>
            <tr>
              <td>
                D.R.A. Snow
              </td>
            </tr>
            <tr>
              <td>
                Barry Stern
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="alumniPics" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                <img src="/images/alumni/1989/dana.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/1989/tanya.jpg" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/1989/larry.jpg" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/1989/stuart.jpg" width="54" height="63" border="0">
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                <img src="/images/alumni/1989/andy.jpg" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/1989/donron.jpg" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/1989/barry.jpg" width="54" height="63" border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
