<table class="alumni" border="0" cellpadding="0" cellspacing="0" summary="">
  <tbody>
    <tr>
      <td>
        <table class="alumniEmail" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                Anouk Flambert
              </td>
            </tr>
            <tr>
              <td>
                Mike Gilbert
              </td>
            </tr>
            <tr>
              <td>
                Kristin Iglesias
              </td>
            </tr>
            <tr>
              <td>
                Larry Kass
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                John Rueppel
              </td>
            </tr>
            <tr>
              <td>
                Aparna Venkatessan
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="alumniPics" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                <img src="/images/alumni/empty.gif" width="56" height="65" border="0">
              </td>
              <td>
                <img src="/images/alumni/empty.gif" width="56" height="65" border="0">
              </td>
              <td>
                <img src="/images/alumni/empty.gif" width="56" height="65" border="0">
              </td>
              <td>
                <img src="/images/alumni/empty.gif" width="56" height="65" border="0">
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                <img src="/images/alumni/empty.gif" width="56" height="65" border="0">
              </td>
              <td>
                <img src="/images/alumni/empty.gif" width="56" height="65" border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
