<table class="alumni" border="0" cellpadding="0" cellspacing="0" summary="">
  <tbody>
    <tr>
      <td>
        <table class="alumniEmail" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                Will Boericke
              </td>
            </tr>
            <tr>
              <td>
                Doug Cullen
              </td>
            </tr>
            <tr>
              <td>
                Roger Hwang
              </td>
            </tr>
            <tr>
              <td>
                Heather Mitchell
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                Mike Murdoch
              </td>
            </tr>
            <tr>
              <td>
                Maoko Naganuma
              </td>
            </tr>
            <tr>
              <td>
                Luis Rodriguez
              </td>
            </tr>
            <tr>
              <td>
                Jen Yax
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="alumniPics" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                <img src="/images/alumni/1997/will.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/1997/doug.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/1997/roger.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/1997/heather.gif" width="54" height="63" border="0">
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                <img src="/images/alumni/1997/mike.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/empty.gif" width="56" height="65" border="0">
              </td>
              <td>
                <img src="/images/alumni/1997/luis.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/1997/jen.gif" width="54" height="63" border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
