<table class="alumni" border="0" cellpadding="0" cellspacing="0" summary="">
  <tbody>
    <tr>
      <td>
        <table class="alumniEmail" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                Alenda Chang
              </td>
            </tr>
            <tr>
              <td>
                Audrey Daigger
              </td>
            </tr>
            <tr>
              <td>
                Jesse Eggert
              </td>
            </tr>
            <tr>
              <td>
                Ken Ho
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                Kate Kennen
              </td>
            </tr>
            <tr>
              <td>
                Sara Maamouri
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table><br>
        <br>
      </td>
      <td>
        <table class="alumniPics" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                <img src="/images/alumni/1998/alenda.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/1998/audrey.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/1998/jesse.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/1998/ken.gif" width="54" height="63" border="0">
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                <img src="/images/alumni/1998/kate.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/1998/sara.gif" width="54" height="63" border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
