<table class="alumni" border="0" cellpadding="0" cellspacing="0" summary="">
  <tbody>
    <tr>
      <td>
        <table class="alumniEmail" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                Andre Black
              </td>
            </tr>
            <tr>
              <td>
                Hilary Schroeder
              </td>
            </tr>
            <tr>
              <td>
                Matt Tierney
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="alumniPics" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                <img src="/images/alumni/1999/andre.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/1999/hilary.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/1999/mattt.gif" width="54" height="63" border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
