<table class="alumni" border="0" cellpadding="0" cellspacing="0" summary="">
  <tbody>
    <tr>
      <td>
        <table class="alumniEmail" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                Emily Allen
              </td>
            </tr>
            <tr>
              <td>
                Samara Guzman
              </td>
            </tr>
            <tr>
              <td>
                Matt Huber
              </td>
            </tr>
            <tr>
              <td>
                Jenny McDonald
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                Jenn Schaeffer
              </td>
            </tr>
            <tr>
              <td>
                Jeremy Tijerina
              </td>
            </tr>
            <tr>
              <td>
                Matthew Watkins
              </td>
            </tr>
            <tr>
              <td>
                Allister Wesson
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="alumniPics" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                <img src="/images/alumni/2000/emily.gif" width="54" height="63">
              </td>
              <td>
                <img src="/images/alumni/2000/samara.gif" width="54" height="63">
              </td>
              <td>
                <img src="/images/alumni/2000/matth.gif" width="54" height="63">
              </td>
              <td>
                <img src="/images/alumni/2000/jennym.gif" width="54" height="63">
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                <img src="/images/alumni/2000/jenns.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/2000/jeremy.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/2000/mattw.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/2000/allie.gif" width="54" height="63" border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
