<table class="alumni" border="0" cellpadding="0" cellspacing="0" summary="">
  <tbody>
    <tr>
      <td>
        <table class="alumniEmail" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                Sheerin Florio
              </td>
            </tr>
            <tr>
              <td>
                Ari Friedland
              </td>
            </tr>
            <tr>
              <td>
                Lester Lau
              </td>
            </tr>
            <tr>
              <td>
                Yvonne Leung
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                Amy McIntire
              </td>
            </tr>
            <tr>
              <td>
                Andrew Mong
              </td>
            </tr>
            <tr>
              <td>
                Titus Presler
              </td>
            </tr>
            <tr>
              <td>
                Andrew Scott
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                Becky Simpson
              </td>
            </tr>
            <tr>
              <td>
                Julie Vultaggio
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="alumniPics" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                <img src="/images/alumni/2001/sheerin.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/2001/ari.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/2001/lester.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/2001/yvonne.gif" width="54" height="63" border="0">
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                <img src="/images/alumni/2001/amy.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/2001/andrewm.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/2001/titus.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/2001/andrews.gif" width="54" height="63" border="0">
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                <img src="/images/alumni/2001/becky.gif" width="54" height="63" border="0">
              </td>
              <td>
                <img src="/images/alumni/2001/julie.gif" width="54" height="63" border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
