<table class="alumni" border="0" cellpadding="0" cellspacing="0" summary="">
  <tbody>
    <tr>
      <td>
        <table class="alumniEmail" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                Melissa Bergman
              </td>
            </tr>
            <tr>
              <td>
                Matt Bovenzi
              </td>
            </tr>
            <tr>
              <td>
                Will Evans
              </td>
            </tr>
            <tr>
              <td>
                Megan Peddigree
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                Julia Schlenker
              </td>
            </tr>
            <tr>
              <td>
                Michael Tang
              </td>
            </tr>
            <tr>
              <td>
                Noah Van Gilder
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="alumniPics" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                <img src="/images/alumni/2006/Melissa-Bergman.gif" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2006/Matt-Bovenzi.gif" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2006/Will-Evans.gif" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2006/Megan-Peddigree.gif" width="56" height="65">
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                <img src="/images/alumni/2006/Julia-Schlenker.gif" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2006/Michael-Tang.gif" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2006/Noah-Van-Gilder.gif" width="56" height="65">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
