<table class="alumni" border="0" cellpadding="0" cellspacing="0" summary="">
  <tbody>
    <tr>
      <td>
        <table class="alumniEmail" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                Olga Desyatnik
              </td>
            </tr>
            <tr>
              <td>
                Rachel Kleinman
              </td>
            </tr>
            <tr>
              <td>
                Steve Linderman
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="alumniPics" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                <img src="/images/alumni/2010/olga.gif" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2010/rachel.gif" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2010/steve.gif" width="56" height="65">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
