<table class="alumni" border="0" cellpadding="0" cellspacing="0" summary="">
  <tbody>
    <tr>
      <td>
        <table class="alumniEmail" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                  Ha Lim Lee
              </td>
            </tr>
            <tr>
              <td>
                Alex Hahn
              </td>
            </tr>
            <tr>
              <td>
                Lacey Steinel
              </td>
            </tr>
            <tr>
              <td>
                Alex Martino
              </td>
            </tr>
            <tr>
              <td>
                Maya Gunaseharan
              </td>
            </tr>
            <tr>
              <td>
                Lindsay McDonald
              </td>
            </tr>
            <tr>
              <td>
                Thomas Shepherd
              </td>
            </tr>
            <tr>
              <td>
                Liankun "Luke" Zhu
              </td>
            </tr>
            <tr>
              <td>
                Mitchell Davis
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="alumniPics" border="0" cellpadding="0" cellspacing="0" summary="">
          <tbody>
            <tr>
              <td>
                <img src="/images/alumni/2012/Halim.png" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2012/Hahn.png" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2012/Lacey.png" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2012/Martino.JPG" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2012/Maya.JPG" width="56" height="65">
              </td>
            </tr>
            <tr>
              <td>
                <img src="/images/alumni/2012/Lindsay.JPG" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2012/Thomas.JPG" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2012/Luke.png" width="56" height="65">
              </td>
              <td>
                <img src="/images/alumni/2012/Mitchell.JPG" width="56" height="65">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
