.members h1 {
  text-align: center;
  width: 100%;
}
.member {
  text-align: center;
  min-width: 160px;
  min-height: 260px;
  .name {
    font-weight: bold;
  }
  .picture {
    width: 125px;
    height: 150px;
  }
  .position {
    font-style: italic;
  }
}
