.members h1 {
  text-align: center;
  width: 100%;
}
.current-note {
  float: left;
  display: table-cell;
  width: 150px;
  height: 250px;
  padding: 0 2px;
  text-align: center;
  .name {
    display: block;
    font-weight: bold;
  }
  .picture {
    display: block;
    width: 125px;
    height: 150px;
  }
  .position {
    display: block;
    font-style: italic;
  }
}

.current-notes {
  @include clearfix;
}
