<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} / {{ site.name }} - {{ site.tagline }}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/font-awesome.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">

          {% include social.html %}

          <div class="site">
            {% include header.html %}

            <div class="content-container">

              {% include sidebar.html %}

              <div class="content">
                {{ content }}
              </div>

            </div>

            {% include footer.html %}
          </div>
        </div> <!-- /container -->

    </body>
</html>
